*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.gameField {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #225C86;
}

.m-context-menu {
  width: 100%;
  border: solid 1px rgba(250,250,200,0.6);
  padding: 3px;
}

  .m-context-menu > div {
    color: yellow;
    cursor: default;
    padding-left: 6px;
    padding-right: 6px;
  }

    .m-context-menu > div:hover {
      color: yellow;
      background-color: rgba(255,255,255,0.2);
    }

    .m-context-menu > div.m-context-menu-separator,
    .m-context-menu > div.m-context-menu-separator:hover,
    .m-context-menu > div.m-context-menu-doubleseparator,
    .m-context-menu > div.m-context-menu-doubleseparator:hover {
      background-color: inherit;
      padding-left: 0px;
      padding-right: 0px;
    }

    .m-context-menu > div.m-context-menu-label,
    .m-context-menu > div.m-context-menu-label:hover {
      background-color: inherit;
    }

.m-context-menu-separator,
.m-context-menu-doubleseparator {
  height: 9px;
}

  .m-context-menu-separator > div {
    height: 5px;
    border-bottom: solid 1px rgba(250,250,200,0.6);
  }

  .m-context-menu-doubleseparator > div {
    margin-top: 5px;
    height: 5px;
    border-top: solid 1px rgba(250,250,200,0.6);
    border-bottom: solid 1px rgba(250,250,200,0.6);
  }

.m-chat-link {
  cursor: pointer;
}

  .m-chat-link:hover {
    text-decoration: underline;
  }

.m-window-float {
  width: 100%;
  border: solid 1px rgba(250,250,200,0.6);
  padding: 3px;
  color: yellow;
  position: relative;
}

.m-window-float-caption {
  width: 100%;
  border-bottom: double 3px rgba(250,250,200,0.6);
  padding: 2px 4px 6px 4px;
  text-align: center;
  font-size: 18px;
}

.m-window-float-body {
  width: 100%;
  /*border-bottom: solid 1px rgba(250,250,200,0.6);*/
  padding: 2px 4px 4px 4px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.m-window-float-buttons {
  width: 100%;
  padding-bottom: 12px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.m-window-float-button {
  margin: 0 auto;
}

  .m-window-float-button > span {
    border: double 1px rgba(250,250,200,0.6);
    padding: 2px 8px 2px 8px;
    margin: 2px 8px 2px 8px;
    cursor: default;
  }

    .m-window-float-button > span:hover {
      background-color: rgba(255,255,255,0.2);
    }


.m-context-panel {
  width: 100%;
  height: 100%;
  border: solid 1px rgba(250,250,200,0.6);
  padding: 3px;
  position: relative;
}

  .m-context-panel > div {
    color: yellow;
    cursor: default;
    padding-left: 6px;
    padding-right: 6px;
  }

    /*.m-context-panel > div:hover {
      color: yellow;
      background-color: rgba(255,255,255,0.2);
    }*/

    .m-context-panel > div.m-context-panel-separator,
    .m-context-panel > div.m-context-panel-separator:hover,
    .m-context-panel > div.m-context-panel-doubleseparator,
    .m-context-panel > div.m-context-panel-doubleseparator:hover {
      background-color: inherit;
      padding-left: 0px;
      padding-right: 0px;
    }

    .m-context-panel > div.m-context-panel-label,
    .m-context-panel > div.m-context-panel-label:hover {
      text-align: center;
      background-color: inherit;
    }

.m-window-float-buttons > div.m-context-panel-separator {
  padding-right: 18px !important;
  margin-bottom: 8px !important;
}

.m-context-panel-separator,
.m-context-panel-doubleseparator {
  height: 9px;
}

  .m-context-panel-separator > div {
    height: 5px;
    border-bottom: solid 1px rgba(250,250,200,0.6);
  }

  .m-context-panel-doubleseparator > div {
    margin-top: 5px;
    height: 5px;
    border-top: solid 1px rgba(250,250,200,0.6);
    border-bottom: solid 1px rgba(250,250,200,0.6);
  }
